<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 
    <connectionStrings>
        <add name="RedSocialConnectionString" connectionString="Data Source=GONDU\SQLEXPRESS;Initial Catalog=RedSocial;User ID=sa;Password=b20g11d91"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <sessionState timeout="100"></sessionState>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication>
        <forms defaultUrl="Principal.aspx" loginUrl="Login.aspx" timeout="50"></forms>
      </authentication>  
  
    </system.web>

</configuration>
